*.fdb_latexmk
*.fls
*.gz
*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.toc
*report.syntex
a1/report.pdf
a2/report.pdf
a3/report.pdf
a4/report.pdf
tutorial/report.pdf
*/svg-inkscape/*.pdf